
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  font-family: $app-primary-font-family;
}